$colors: (
  'normal': #646446,
  'fire': #ee8130,
  'water': #6390f0,
  'electric': #f7d02c,
  'grass': #7ac74c,
  'ice': #96d9d6,
  'fighting': #c22e28,
  'poison': #a33ea1,
  'ground': #e2bf65,
  'flying': #a98ff3,
  'psychic': #f95587,
  'bug': #a6b91a,
  'rock': #b6a136,
  'ghost': #735797,
  'dragon': #6f35fc,
  'dark': #705746,
  'steel': #b7b7ce,
  'fairy': #d685ad,
);


$bg: (
  'normal': #a8a77a,
  'fire': #f09956,
  'water': #94b6ff,
  'electric': #fad74d,
  'grass': #a0da7f,
  'ice': #76cfcb,
  'fighting': #bd5451,
  'poison': #a35aa2,
  'ground': #ddc17c,
  'flying': #8f69f7,
  'psychic': #fa7ba1,
  'bug': #c8d185,
  'rock': #d6c987,
  'ghost': #82798d,
  'dragon': #a07ff3,
  'dark': #705746,
  'steel': #b7b7e4,
  'fairy': #da609d,
);
@each $name, $hex in $colors {
  .bg-type-#{$name} {
    background-color: $hex !important;
  }
}
@each $name, $hex in $bg {
  .bg-#{$name} {
    background-color: $hex !important;
  }

}